In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train_original = pd.read_csv("train_original.csv")

In [3]:
df_train = pd.read_csv("train.csv")

In [4]:
df_test = pd.read_csv("test.csv")

In [5]:
df_train.columns.difference(df_train_original.columns)

Index(['Id'], dtype='object')

In [6]:
df_test.Id

0       349598
1       766313
2       169887
3       594704
4        47900
5       339260
6       169575
7       681483
8       276938
9       146369
10      781784
11      120988
12      217247
13      713662
14      861939
15      169165
16        2501
17      436649
18      858998
19       98462
20      385043
21      528564
22      265716
23      492619
24      649577
25      454436
26      759148
27      505016
28      637727
29      518082
         ...
9970    178464
9971    676117
9972    647238
9973    555853
9974    282792
9975    361292
9976    873740
9977    399285
9978    467187
9979    448525
9980    556069
9981    671998
9982    250607
9983    425645
9984     60190
9985    424993
9986    637721
9987    703944
9988    596146
9989    414785
9990    636538
9991    478305
9992    123893
9993    198011
9994    769393
9995    289008
9996    343293
9997    568552
9998     60339
9999    191716
Name: Id, Length: 10000, dtype: int64

In [7]:
df_answer = df_train_original.iloc[df_test.Id]

In [24]:
df_answer['Category']

349598             LARCENY/THEFT
766313                   ASSAULT
169887            OTHER OFFENSES
594704               WEAPON LAWS
47900              LARCENY/THEFT
339260              NON-CRIMINAL
169575                   ASSAULT
681483             VEHICLE THEFT
276938    FORGERY/COUNTERFEITING
146369                 VANDALISM
781784             LARCENY/THEFT
120988           SECONDARY CODES
217247             VEHICLE THEFT
713662            MISSING PERSON
861939             LARCENY/THEFT
169165             LARCENY/THEFT
2501                    WARRANTS
436649             LARCENY/THEFT
858998             DRUG/NARCOTIC
98462                    ASSAULT
385043             LARCENY/THEFT
528564            MISSING PERSON
265716                  BURGLARY
492619                  WARRANTS
649577            SUSPICIOUS OCC
454436             VEHICLE THEFT
759148            OTHER OFFENSES
505016                   ASSAULT
637727                     FRAUD
518082            OTHER OFFENSES
                   ...
178464                  WARRANTS
676117             VEHICLE THEFT
647238                   ROBBERY
555853               DRUNKENNESS
282792                   RUNAWAY
361292            MISSING PERSON
873740                  WARRANTS
399285              NON-CRIMINAL
467187            OTHER OFFENSES
448525             LARCENY/THEFT
556069             LARCENY/THEFT
671998    FORGERY/COUNTERFEITING
250607            OTHER OFFENSES
425645             DRUG/NARCOTIC
60190               NON-CRIMINAL
424993             LARCENY/THEFT
637721                   RUNAWAY
703944             VEHICLE THEFT
596146            OTHER OFFENSES
414785                   ASSAULT
636538                  WARRANTS
478305                  GAMBLING
123893             DRUG/NARCOTIC
198011                  BURGLARY
769393                 VANDALISM
289008            OTHER OFFENSES
343293                     FRAUD
568552                   ASSAULT
60339              LARCENY/THEFT
191716                   ASSAULT
Name: Category, Length: 10000, dtype: object

In [37]:
df_answer['Category']

349598                                        LARCENY/THEFT
766313                                              ASSAULT
169887                                       OTHER OFFENSES
594704                                          WEAPON LAWS
47900                                         LARCENY/THEFT
339260                                         NON-CRIMINAL
169575                                              ASSAULT
681483                                        VEHICLE THEFT
276938                               FORGERY/COUNTERFEITING
146369                                            VANDALISM
781784                                        LARCENY/THEFT
120988                                      SECONDARY CODES
217247                                        VEHICLE THEFT
713662                                       MISSING PERSON
861939                                        LARCENY/THEFT
169165                                        LARCENY/THEFT
2501                                               WARRANTS
436649                                        LARCENY/THEFT
858998                                        DRUG/NARCOTIC
98462                                               ASSAULT
385043                                        LARCENY/THEFT
528564                                       MISSING PERSON
265716                                             BURGLARY
492619                                             WARRANTS
649577                                       SUSPICIOUS OCC
454436                                        VEHICLE THEFT
759148                                       OTHER OFFENSES
505016                                              ASSAULT
637727                                                FRAUD
518082                                       OTHER OFFENSES
                                ...
676117                                        VEHICLE THEFT
647238                                              ROBBERY
555853                                          DRUNKENNESS
282792                                              RUNAWAY
361292                                       MISSING PERSON
873740                                             WARRANTS
399285                                         NON-CRIMINAL
467187                                       OTHER OFFENSES
448525                                        LARCENY/THEFT
556069                                        LARCENY/THEFT
671998                               FORGERY/COUNTERFEITING
250607                                       OTHER OFFENSES
425645                                        DRUG/NARCOTIC
60190                                          NON-CRIMINAL
424993                                        LARCENY/THEFT
637721                                              RUNAWAY
703944                                        VEHICLE THEFT
596146                                       OTHER OFFENSES
414785                                              ASSAULT
636538                                             WARRANTS
478305                                             GAMBLING
123893                                        DRUG/NARCOTIC
198011                                             BURGLARY
769393                                            VANDALISM
289008                                       OTHER OFFENSES
343293                                                FRAUD
568552                                              ASSAULT
60339                                         LARCENY/THEFT
191716                                              ASSAULT
Id        0       349598
1       766313
2       169887
3...
Name: Category, Length: 10001, dtype: object

In [56]:
submit.head()

            Label      Id
0   LARCENY/THEFT  349598
1         ASSAULT  766313
2  OTHER OFFENSES  169887
3     WEAPON LAWS  594704
4   LARCENY/THEFT   47900

In [42]:
submit['Id'] = sub.index

In [57]:
submit.to_csv("ULTIMATE_ANSWER.csv",index = False)

In [58]:
submit  = pd.read_csv("ULTIMATE_ANSWER.csv")

In [59]:
submit.shape

(10001, 2)

In [60]:
submit.head()

            Label      Id
0   LARCENY/THEFT  349598
1         ASSAULT  766313
2  OTHER OFFENSES  169887
3     WEAPON LAWS  594704
4   LARCENY/THEFT   47900

In [49]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, label_binarize, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss

train= pd.read_csv("train_original.csv",parse_dates=["Dates"],index_col=False)

train.head()

train = train.drop(["Descript","Resolution"],axis=1)

def datesplit(data):
    data["Year"] = data["Dates"].dt.year
    data["Month"] = data["Dates"].dt.month
    data["Day"] = data["Dates"].dt.day
    data["Hour"] = data["Dates"].dt.hour
    data["Minute"] = data["Dates"].dt.minute
    return data

train= datesplit(train)

train.head()

#train = pd.concat([train,pd.get_dummies(train.Category)], axis=1)

cat_encoder=LabelEncoder()
cat_encoder.fit(train["Category"])
cat_encoder.classes_.shape

train["CategoryEncoded"] = cat_encoder.transform(train["Category"])

train["CategoryEncoded"].head()

train["Category"] = train["CategoryEncoded"]

train = pd.concat([train,pd.get_dummies(train.PdDistrict)], axis=1)
train = pd.concat([train,pd.get_dummies(train.DayOfWeek)], axis=1)

add_encoder = LabelEncoder()

train['StreetNo'] = train['Address'].apply(lambda x: x.split(' ', 1)[0] if x.split(' ', 1)[0].isdigit() else 0)
train["Intersection"]= train["Address"].apply(lambda x: 1 if "/" in x else 0)
train['Address'] = train['Address'].apply(lambda x: x.split(' ', 1)[1] if x.split(' ', 1)[0].isdigit() else x)
add_encoder.fit(train["Address"])
train["Address"]= add_encoder.transform(train["Address"])

train["Morning"] = train["Hour"].apply(lambda x: 1 if x>= 6 and x < 12 else 0)
train["Noon"] = train["Hour"].apply(lambda x: 1 if x>= 12 and x < 17 else 0)
train["Evening"] = train["Hour"].apply(lambda x: 1 if x>= 17 and x < 20 else 0)
train["Night"] = train["Hour"].apply(lambda x: 1 if x >= 20 or x < 6 else 0)
train["Fall"] = train["Month"].apply(lambda x: 1 if x>=3 and x <=5 else 0)
train["Winter"] = train["Month"].apply(lambda x: 1 if x>=6 and x <=8 else 0)
train["Spring"] = train["Month"].apply(lambda x: 1 if x>=9 and x <=11 else 0)
train["Summer"] = train["Month"].apply(lambda x: 1 if x>=12 or x <=2 else 0)

train.shape

train_columns = list(train.columns.values)
print(train_columns)

train = train.drop(["CategoryEncoded","DayOfWeek"], axis=1)

train = train.drop(["PdDistrict"],axis=1)

train = train.drop(["Dates"],axis=1)

train['StreetNo'] = train['StreetNo'].astype(int)

train.info()

training,validation = train_test_split(train, train_size=0.80,random_state=51)

#train = train.drop(["Category"],axis=1)

train.head()

train.columns
features=[ 'Address', 'X', 'Y', 'Year', 'Month', 'Day', 'Hour',
       'Minute', 'BAYVIEW', 'CENTRAL', 'INGLESIDE', 'MISSION', 'NORTHERN',
       'PARK', 'RICHMOND', 'SOUTHERN', 'TARAVAL', 'TENDERLOIN', 'Friday',
       'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday',
       'StreetNo', 'Intersection', 'Morning', 'Noon', 'Evening', 'Night',
       'Fall', 'Winter', 'Spring', 'Summer']


test=pd.read_csv("test.csv",parse_dates=["Dates"],index_col=False)

test.head()

test = test.drop(["Descript","Resolution"],axis=1)

def datesplit(data):
    data["Year"] = data["Dates"].dt.year
    data["Month"] = data["Dates"].dt.month
    data["Day"] = data["Dates"].dt.day
    data["Hour"] = data["Dates"].dt.hour
    data["Minute"] = data["Dates"].dt.minute
    return data

test= datesplit(test)

test = pd.concat([test,pd.get_dummies(test.PdDistrict)], axis=1)
test = pd.concat([test,pd.get_dummies(test.DayOfWeek)], axis=1)

add_encoder = LabelEncoder()

test['StreetNo'] = test['Address'].apply(lambda x: x.split(' ', 1)[0] if x.split(' ', 1)[0].isdigit() else 0)
test["Intersection"]= test["Address"].apply(lambda x: 1 if "/" in x else 0)
test['Address'] = test['Address'].apply(lambda x: x.split(' ', 1)[1] if x.split(' ', 1)[0].isdigit() else x)
add_encoder.fit(test["Address"])
test["Address"]= add_encoder.transform(test["Address"])

test["Morning"] = test["Hour"].apply(lambda x: 1 if x>= 6 and x < 12 else 0)
test["Noon"] = test["Hour"].apply(lambda x: 1 if x>= 12 and x < 17 else 0)
test["Evening"] = test["Hour"].apply(lambda x: 1 if x>= 17 and x < 20 else 0)
test["Night"] = test["Hour"].apply(lambda x: 1 if x >= 20 or x < 6 else 0)
test["Fall"] = test["Month"].apply(lambda x: 1 if x>=3 and x <=5 else 0)
test["Winter"] = test["Month"].apply(lambda x: 1 if x>=6 and x <=8 else 0)
test["Spring"] = test["Month"].apply(lambda x: 1 if x>=9 and x <=11 else 0)
test["Summer"] = test["Month"].apply(lambda x: 1 if x>=12 or x <=2 else 0)

test.shape

test.head()

test = test.drop(["DayOfWeek"], axis=1)

test = test.drop(["PdDistrict","Dates"],axis=1)

test.shape

test['StreetNo'] = test['StreetNo'].astype(int)

test.info()

test.shape

test_features=[ 'Address', 'X', 'Y', 'Year', 'Month', 'Day', 'Hour',
       'Minute', 'BAYVIEW', 'CENTRAL', 'INGLESIDE', 'MISSION', 'NORTHERN',
       'PARK', 'RICHMOND', 'SOUTHERN', 'TARAVAL', 'TENDERLOIN', 'Friday',
       'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday',
       'StreetNo', 'Intersection', 'Morning', 'Noon', 'Evening', 'Night',
       'Fall', 'Winter', 'Spring', 'Summer']



train.columns

features = [ 'Address', 'X', 'Y', 'Year', 'Month', 'Day', 'Hour',
       'Minute', 'BAYVIEW', 'CENTRAL', 'INGLESIDE', 'MISSION', 'NORTHERN',
       'PARK', 'RICHMOND', 'SOUTHERN', 'TARAVAL', 'TENDERLOIN', 'Friday',
       'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday',
       'StreetNo', 'Intersection', 'Morning', 'Noon', 'Evening', 'Night',
       'Fall', 'Winter', 'Spring', 'Summer']

test_features = [ 'Address', 'X', 'Y', 'Year', 'Month', 'Day', 'Hour',
       'Minute', 'BAYVIEW', 'CENTRAL', 'INGLESIDE', 'MISSION', 'NORTHERN',
       'PARK', 'RICHMOND', 'SOUTHERN', 'TARAVAL', 'TENDERLOIN', 'Friday',
       'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday',
       'StreetNo', 'Intersection', 'Morning', 'Noon', 'Evening', 'Night',
       'Fall', 'Winter', 'Spring', 'Summer']

training,validation = train_test_split(train, train_size=0.80,random_state=51)

['Dates', 'Category', 'DayOfWeek', 'PdDistrict', 'Address', 'X', 'Y', 'Year', 'Month', 'Day', 'Hour', 'Minute', 'CategoryEncoded', 'BAYVIEW', 'CENTRAL', 'INGLESIDE', 'MISSION', 'NORTHERN', 'PARK', 'RICHMOND', 'SOUTHERN', 'TARAVAL', 'TENDERLOIN', 'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday', 'StreetNo', 'Intersection', 'Morning', 'Noon', 'Evening', 'Night', 'Fall', 'Winter', 'Spring', 'Summer']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 36 columns):
Category        878049 non-null int32
Address         878049 non-null int32
X               878049 non-null float64
Y               878049 non-null float64
Year            878049 non-null int64
Month           878049 non-null int64
Day             878049 non-null int64
Hour            878049 non-null int64
Minute          878049 non-null int64
BAYVIEW         878049 non-null uint8
CENTRAL         878049 non-null uint8
INGLESIDE       878049 non-null uint8
MISSION         878049 non-null uint8
NORTHERN        878049 non-null uint8
PARK            878049 non-null uint8
RICHMOND        878049 non-null uint8
SOUTHERN        878049 non-null uint8
TARAVAL         878049 non-null uint8
TENDERLOIN      878049 non-null uint8
Friday          878049 non-null uint8
Monday          878049 non-null uint8
Saturday        878049 non-null uint8
Sunday          878049 non-null uint8
Thursday        878049 non-null uint8
Tuesday         878049 non-null uint8
Wednesday       878049 non-null uint8
StreetNo        878049 non-null int32
Intersection    878049 non-null int64
Morning         878049 non-null int64
Noon            878049 non-null int64
Evening         878049 non-null int64
Night           878049 non-null int64
Fall            878049 non-null int64
Winter          878049 non-null int64
Spring          878049 non-null int64
Summer          878049 non-null int64
dtypes: float64(2), int32(3), int64(14), uint8(17)
memory usage: 131.5 MB

C:\Users\Dipta\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2069: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 36 columns):
Address         10000 non-null int32
X               10000 non-null float64
Y               10000 non-null float64
Id              10000 non-null int64
Year            10000 non-null int64
Month           10000 non-null int64
Day             10000 non-null int64
Hour            10000 non-null int64
Minute          10000 non-null int64
BAYVIEW         10000 non-null uint8
CENTRAL         10000 non-null uint8
INGLESIDE       10000 non-null uint8
MISSION         10000 non-null uint8
NORTHERN        10000 non-null uint8
PARK            10000 non-null uint8
RICHMOND        10000 non-null uint8
SOUTHERN        10000 non-null uint8
TARAVAL         10000 non-null uint8
TENDERLOIN      10000 non-null uint8
Friday          10000 non-null uint8
Monday          10000 non-null uint8
Saturday        10000 non-null uint8
Sunday          10000 non-null uint8
Thursday        10000 non-null uint8
Tuesday         10000 non-null uint8
Wednesday       10000 non-null uint8
StreetNo        10000 non-null int32
Intersection    10000 non-null int64
Morning         10000 non-null int64
Noon            10000 non-null int64
Evening         10000 non-null int64
Night           10000 non-null int64
Fall            10000 non-null int64
Winter          10000 non-null int64
Spring          10000 non-null int64
Summer          10000 non-null int64
dtypes: float64(2), int32(2), int64(15), uint8(17)
memory usage: 1.5 MB

In [53]:
train['Id'] = train.index + 1

In [54]:
train.

,Category,Address,X,Y,Year,Month,Day,Hour,Minute,BAYVIEW,...,Intersection,Morning,Noon,Evening,Night,Fall,Winter,Spring,Summer,Id
0,37,10830,-122.425892,37.774599,2015,5,13,23,53,0,...,1,0,0,0,1,1,0,0,0,1
1,21,10830,-122.425892,37.774599,2015,5,13,23,53,0,...,1,0,0,0,1,1,0,0,0,2
2,21,13737,-122.424363,37.800414,2015,5,13,23,33,0,...,1,0,0,0,1,1,0,0,0,3
3,16,4296,-122.426995,37.800873,2015,5,13,23,30,0,...,0,0,0,0,1,1,0,0,0,4
4,16,3485,-122.438738,37.771541,2015,5,13,23,30,0,...,0,0,0,0,1,1,0,0,0,5

In [55]:
from sklearn.utils import shuffle

In [56]:
train = shuffle(train)

In [57]:
train.head()

,Category,Address,X,Y,Year,Month,Day,Hour,Minute,BAYVIEW,...,Intersection,Morning,Noon,Evening,Night,Fall,Winter,Spring,Summer,Id
683923,27,3808,-122.425779,37.782319,2005,9,6,1,40,0,...,0,0,0,0,1,0,0,1,0,683924
757633,21,4390,-122.408657,37.771991,2004,8,8,5,59,0,...,0,0,0,0,1,0,1,0,0,757634
777569,25,4429,-122.407933,37.781506,2004,5,2,18,45,0,...,0,0,0,1,0,1,0,0,0,777570
756806,21,3669,-122.434609,37.709201,2004,8,17,12,10,0,...,0,0,1,0,0,0,1,0,0,756807
187564,7,7512,-122.416452,37.786309,2012,11,14,22,10,0,...,1,0,0,0,1,0,0,1,0,187565

In [58]:
from sklearn.feature_selection import SelectPercentile

In [59]:
X_train = train[features]

In [60]:
Y_train = train['Category']

In [62]:
X_train = SelectPercentile(percentile=70).fit_transform(X_train,Y_train)

In [63]:
X_train.shape

(878049, 24)

In [71]:
from imblearn.under_sampling import RandomUnderSampler

In [65]:
from imblearn.over_sampling import SMOTE

In [66]:
sm = SMOTE(ratio=0.66,sampling_strategy='minority')

In [ ]:
rd = RandomUnderSampler(sampling_strategy='majority')

In [70]:
X_train,Y_train = ed.fit_sample(X_train,Y_train.ravel())

KeyboardInterrupt: